body {
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: white;
}
nav {
    background-color: #151515;
}
.navbar {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    text-align: center;
}

.logo {
    height: 70px;
    max-width: 100%;
    object-fit: contain;
}

nav div img {
    height: 70px;
    max-width: 100%;
    object-fit: contain;
}

#burgers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item {
    width: 500px;
}
.product {
    background-color: rgb(15, 15, 15);
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 450px;
}
.product img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 400px;
}

.product-info {
    background-color: #151515;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-price {
    display: flex;
    justify-content: space-around;
    background-color: #151515;
    text-align: center;
    padding: 30px;
}
.product-price button {
    margin: 0;
    background-color: rgb(48, 48, 48);
    color: white;
    border-color: #3a3a3a;
    border-radius: 10px;
}
.ingredients {
    
}
.ingredient {
    display: flex;
}
.ingredient img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo-subtext {
    color: rgb(0, 125, 125);
    margin: 0;
    margin-left: 15px;
    font-size: 40px;
}

.header {
    text-align: center;
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
}
#cart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;

}
.cartItem {
    display: flex;
    width: 400px;
    max-width: 100%;
}

.cart {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #151515;
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cartInfo button {
    margin: 0;
    background-color: rgb(48, 48, 48);
    color: white;
    border-color: #3a3a3a;
    border-radius: 10px;
}

.cart img {
    width: 100px;
    object-fit: contain;    
    margin-right: 20px;
}

/* als de pixels minder zijn 600 dan ... */

@media (max-width: 600px) {
    .logo-subtext {
        display: none;
    }
    .item {
        width: 100%;
    }
}