body {
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: white;
}
nav {
    background-color: #151515;
}
.navbar {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    text-align: center;
}

.logo {
    height: 70px;
    max-width: 100%;
    object-fit: contain;
}

nav div img {
    height: 70px;
    max-width: 100%;
    object-fit: contain;
}

#burgers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item {
    width: 500px;
    height: 100%;
}
.product {
    background-color: rgb(15, 15, 15);
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 450px;
}
.product img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 400px;
}

.product-info {
    background-color: #151515;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}
.product-price {
    display: flex;
    justify-content: space-around;
    background-color: #151515;
    text-align: center;
    padding: 30px;
}
.product-price button {
    margin: 0;
    background-color: rgb(48, 48, 48);
    color: white;
    border-color: #00ffff;
    border-radius: 10px;
}
.ingredients {
    
}
.ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredient div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.ingredient button {
    padding: 4px 8px;
    background-color: rgb(48, 48, 48);
    color: white;
    border-color: #666666;
    border-radius: 10px;
}

.ingredient div img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.disabledIngredient {
    text-decoration: line-through;
    color: red;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo-subtext {
    color: rgb(0, 125, 125);
    margin: 0;
    margin-left: 15px;
    font-size: 40px;
}

.header {
    text-align: center;
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
}
#cart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;

}
.cartItem {
    display: flex;
    width: 400px;
    max-width: 100%;
}

.cart {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #151515;
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cartInfo button {
    margin: 0;
    background-color: rgb(48, 48, 48);
    color: white;
    border-color: #00ffff;
    border-radius: 10px;
}

.cart img {
    width: 100px;
    object-fit: contain;    
    margin-right: 20px;
}

.confirm-background {
    background-color: #151515;
    margin: 5px;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.confirm button {
    margin: 0;
    background-color: rgb(48, 48, 48);
    color: white;
    border-color: #00ffff;
    border-radius: 10px;
    padding: 20px;
}
.header button {
    margin: 0;
    background-color: rgb(61, 61, 61);
    color: white;
    border-color: #242424;
    border-radius: 10px;
    padding: 20px;
}

.dot {
    display: flex;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50px;
    margin-right: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#items {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#items .item {
    display: flex;
    height: 120px;
    width: 100%;
}

#items .item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.itemInfo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.adminProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151515;
    border-radius: 20px;
    height: 100px;
    width: 100%;
}


.adminProduct div {
    width: 25%;
    text-align: center;
}

.disable {
    border-color: red !important;
}

.adminEnable {
    background-color: #242424;
    color: white;
    border-color: green;
    border-radius: 5px;
    padding: 0.5rem;
}
.adminDisable {
    background-color: #242424;
    color: white;
    border-color: red;
    border-radius: 5px;
    padding: 0.5rem;
}
.adminEdit {
    background-color: #242424;
    color: white;
    border-color: cyan;
    border-radius: 5px;
    padding: 0.5rem;
}

.editProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #151515;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    padding: 50px;
}

.editProduct img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.editProduct div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #242424;
    color: white;
    border: 1px solid #00ffff;
    border-radius: 4px;
    box-sizing: border-box;

}

.editPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    color: white;
    border: 1px solid #00ffff;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.addButton {
    margin: 0;
    background-color: rgb(48, 48, 48);
    color: white;
    border-color: #00ffff !important;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}

.orders {
    margin: 5px;
    background-color: #151515;
    border-radius: 20px;
}

.orders h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* als de pixels minder zijn 600 dan ... */

@media (max-width: 600px) {
    .logo-subtext {
        display: none;
    }
    .item {
        width: 100%;
    }
}